$size = 32px

.loader
    @apply relative mx-auto my-0
    width $size
    height $size

    &before
        @apply block
        content ''
        padding-top 100%

.circular 
    @apply absolute top-0 left-0 m-auto w-full h-full
    transform-origin center center
    animation rotate 2s linear infinite

.path 
    stroke-dasharray 1, 200
    stroke-dashoffset 0
    stroke-linecap round
    stroke #007aff
    animation dash 1.5s ease-in-out infinite

@keyframes rotate 
    to 
        transform rotate(360deg)

@keyframes dash 
    0% 
        stroke-dasharray 1, 200
        stroke-dashoffset 0
    
    50% 
        stroke-dasharray 89, 200
        stroke-dashoffset -35px
    
    100% 
        stroke-dasharray 89, 200
        stroke-dashoffset -124px