.text-input
    @apply relative flex flex-row items-center w-full my-2 rounded border-gray-400 border-2

    & > .input,
    & > .placeholder
        @apply text-xl font-medium

        &:hover,
        &:focus,
        &.input:not(:placeholder-shown)
            &.placeholder,
            & + .placeholder
                @apply text-sm text-gray-500
                transform translateX(calc(1rem - 8px)) translateY(-12px)

    & > .input
        @apply flex flex-1 justify-center items-center text-gray-700 pl-4 outline-none bg-transparent
        height 48px

    & > .placeholder
        @apply absolute bg-white text-gray-500
        top 0
        padding 0 8px
        transform translateX(calc(1rem - 8px)) translateY(10px)
        transition transform .15s ease-out, color .15s ease-out, font-size .15s ease-out