#cover
    @apply flex flex-row w-full my-12
    padding 16px 36px

    &.-preload
        & > .cover
            @apply rounded-md mx-auto

            & > .page
                box-shadow 0 2px 8px rgba(72,72,72,0.05), 
                    0 8px 25px rgba(72,72,72,0.1), 
                    0 16px 48px rgba(72,72,72,0.1)

                & > .paper
                    height 506px

        & > .detail
            & > .code,
            & > .title,
            & > .sub-title,
            & > .info > .content
            & > .tag-container > .tag
                @apply inline-block px-8 rounded-sm bg-gray-200

            & > .code
                width 100px
                height 24px

            & > .title
                height 48px

            & > .sub-title
                height 48px

            & > .info > .content
                @apply px-0 mb-0
                height 27px

            & > .tag-container > .tag
                @apply mb-0 px-12 py-0
                height 29px

    & > .cover
        & > .page
            @apply flex rounded-md
            flex 5
            box-shadow 0 2px 8px rgba(0,0,0,.05),
                0 8px 25px rgba(0,0,0,.1),
                0 16px 48px rgba(0,0,0,.1)

            & > .paper
                width 350px
                height 100%

    & > .detail
        @apply flex flex-col pl-8
        flex 6

        & > .title
            @apply text-gray-800 text-2xl font-semibold mb-2

        & > .sub-title,
        & > .code
            @apply text-gray-500 font-medium mb-2

        & > .info
            @apply flex flex-row w-full mb-4
                
            & > .content
                @apply text-gray-600 text-lg font-medium mr-6

    @media screen and (max-width 410px)
        & > .cover
            & > .page
                @apply w-full

                & > .paper
                    width 100%

        &.-preload
            & > .cover
                @apply mb-12
                width 100%
                height unset

                & > .page
                    & > .paper
                        height unset
                        padding-top 140%


    @media screen and (max-width 639.9px)
        &
            @apply flex-col

        & > .cover
            @apply contents

            & > .page
                @apply inline-block mx-auto mb-12

        & > .detail
            @apply pl-0

    @media (prefers-color-scheme dark)
        &
            & > .detail
                & > .title
                    @apply text-gray-400

                & > .sub-title,
                & > .code
                    @apply text-gray-500

                & > .info
                    & > .content
                        @apply text-gray-500 text-lg font-medium mr-6

            &.-preload
                & > .detail
                    & > .code,
                    & > .title,
                    & > .sub-title,
                    & > .info > .content
                    & > .tag-container > .tag
                        @apply inline-block px-8 rounded-sm bg-gray-800
