#h
    @apply flex flex-col mx-auto
    max-width 840px

    & > .pages
        @apply flex flex-col mx-auto w-full
        max-width 560px
        content-visibility auto

    & > .more
        @apply text-3xl text-gray-700 text-center
        margin 60px 0 20px 0

    & > .related
        @apply grid justify-center mb-12 px-2
        grid-template-columns repeat(auto-fill, 240px)
        grid-gap 20px

    @media screen and (max-width 567.9px)
        &
            & > .related
                grid-template-columns repeat(auto-fill, calc(50% - 20px))