@font-face
    font-family: somatic
    src: local('Somatic'), local('Somatic Rounded'), url('/fonts/somatic.otf') format('opentype')
    font-display: swap

html
    scroll-behavior: smooth

*
    box-sizing: border-box
    -webkit-tap-highlight-color: transparent

body
    @apply block font-sans m-0

@media screen and (prefers-color-scheme dark)
    body
        @apply bg-gray-900