@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@font-face
    font-family somatic
    src url('/fonts/somatic.otf') type('opentype')
    font-display swap

body
    @apply block font-sans m-0