#gallery
    @apply flex flex-row w-full

    & > .masonry
        @apply flex flex-col flex-1 px-2

        & > .book
            @apply mb-3

            & > .page
                @apply w-full
                border-radius 16px
                box-shadow unset