@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply dark:bg-gray-800
}

a, button, input {
    -webkit-tap-highlight-color: transparent;
}

.min-h-app {
    min-height: calc(100vh - 4rem);
}

.h-app {
    height: calc(100vh - 4rem);
}

#masonry {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
}
