#settings
    @apply flex flex-col w-full mx-auto my-2
    max-width 410px
    padding 57px + 20px 0 20px 0

    & > .back
        @apply flex justify-center items-center text-gray-500 text-left text-lg font-medium
        width 84px
        height 36px
        margin-left 7px
        border-radius 18px
        transition color .15s ease-out

        &:hover,
        &:focus
            @apply text-gray-800

        & > .icon
            width 28px
            height 28px

    & > .title
        @apply text-4xl font-semibold text-gray-800 my-4
        padding 0 20px

    @media (prefers-color-scheme dark)
        &
            & > .back
                @apply text-gray-600

                &:hover,
                &:focus
                    @apply text-gray-300

            & > .title
                @apply text-gray-300