#settings
    & > .menu
        & > .item
            & > .menu
                @apply flex flex-row justify-between items-center w-full text-lg font-medium text-gray-600 my-1
                min-height 48px
                padding 0 20px
                outline none

                @media (prefers-color-scheme dark)
                    &
                        @apply text-gray-500

                &.-link
                    -webkit-tap-highlight-color transparent
                    transition background-color .15s ease-out

                    &:hover,
                    &:focus
                        @apply bg-gray-200

                        @media (prefers-color-scheme dark)
                            @apply bg-gray-800

                @media (min-width 410px) 
                    &
                        @apply rounded

                & > .icon
                    width 21px
                    height 21px

            & > .detail
                @apply block text-lg text-gray-600 my-2
                line-height 1.5em
                padding 0 20px

                @media (prefers-color-scheme dark)
                    &
                        @apply text-gray-500

                & > .link
                    @apply underline text-primary
                    -webkit-tap-highlight-color transparent

                    @media (prefers-color-scheme dark)
                        &
                            @apply text-primary-dark