#search
    @apply flex flex-col justify-center items-center align-middle w-full mx-auto px-2
    max-width 460px
    height 500px
    padding-top 80px

    & > .title
        @apply text-5xl font-medium text-gray-600 text-center mb-6
        font-family somatic
        text-shadow 0 2px 8px rgba(0,0,0,0.05), 0 8px 25px rgba(0,0,0,0.1), 0 16px 48px rgba(0,0,0,0.1)

        @supports (-webkit-background-clip text)
            background linear-gradient(45deg, #7F7FD5, #86A8E7, #91EAE4)
            -webkit-background-clip text
            -webkit-text-fill-color transparent

    & > .search-wrapper
        @apply block w-full px-6

        & > .search-bar
            @apply flex flex-row justify-center items-center w-full px-4 py-2 bg-gray-200 rounded-md text-gray-500
            box-shadow 0 2px 8px rgba(0,0,0,0.0125), 0 8px 25px rgba(0,0,0,0.0125), 0 16px 48px rgba(0,0,0,0.0125)

            & > .icon
                @apply mr-2

            & > .input
                @apply text-2xl font-normal text-gray-700 outline-none bg-transparent w-full

                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active
                    transition background-color 5000s ease-in-out 0s
                    -webkit-text-fill-color #fff !important

                &::placeholder
                    @apply text-gray-500 font-light

    @media screen and (max-width 374.9px)
        & > .title
            @apply text-4xl

    @media screen and (prefers-color-scheme dark)
        &
            & > .search-wrapper
                & > .search-bar
                    @apply bg-gray-700
                    
                    & > .input
                        @apply text-gray-300