.chip
    @apply inline-block rounded-full text-gray-700 font-medium capitalize mb-2 mr-2 px-3 py-1 border-gray-400
    border-width 1px
    outline none
    transition border-color .125s ease-out, background-color .15s ease-out

    &:hover,
    &:focus
        outline none

    &:hover
        @apply bg-gray-200

    &.-active
        @apply bg-gray-300 border-gray-300

    @media (prefers-color-scheme dark)
        &
            @apply text-gray-500 border-gray-700

        &:hover
            @apply bg-gray-800

        &.-active
            @apply text-gray-300 bg-primary border-primary