.tag-container
    @apply block w-full mb-2 text-gray-700

    & > .tag
        @apply inline-block mr-1 mb-1 rounded-sm bg-gray-200 px-2 py-1 text-sm text-gray-600 font-medium
        text-transform capitalize
        
        &.-preload
            cursor default

    @media (prefers-color-scheme dark)
        &
            @apply text-gray-500

            & > .tag
                @apply text-gray-500 bg-gray-800